@font-face {
  font-family: 'sell-icon';
  src:  url('fonts/sell-icon.eot?rlvoww');
  src:  url('fonts/sell-icon.eot?rlvoww#iefix') format('embedded-opentype'),
    url('fonts/sell-icon.ttf?rlvoww') format('truetype'),
    url('fonts/sell-icon.woff?rlvoww') format('woff'),
    url('fonts/sell-icon.svg?rlvoww#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before {
  content: "\e609";
}
.icon-icon-test:before {
  content: "\e60e";
}
.icon-shopshoppingco:before {
  content: "\e630";
}
.icon-shouyedianpujishishangcheng:before {
  content: "\e61b";
}
